@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-Bold.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-Bold.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-Bold.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-BoldItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-BoldItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-BoldItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-BoldItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-BoldItalic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-ExtraBold.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-ExtraBold.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-ExtraBoldItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-ExtraBoldItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-ExtraBoldItalic.svg') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-ExtraLight.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-ExtraLight.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-ExtraLight.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-ExtraLight.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-ExtraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-ExtraLightItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-ExtraLightItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-ExtraLightItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-ExtraLightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-Italic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-Italic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-Italic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-Light.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-Light.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-Light.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-Light.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-LightItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-LightItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-LightItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-LightItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-LightItalic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-Medium.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-Medium.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-Medium.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-MediumItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-MediumItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-MediumItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-MediumItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-MediumItalic.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-Regular.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-Regular.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-SemiBold.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-SemiBold.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-SemiBold.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-SemiBold.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-SemiBoldItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-SemiBoldItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-SemiBoldItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-SemiBoldItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-Thin.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-Thin.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-Thin.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-Thin.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('./JetBrains/eot/JetBrainsMono-ThinItalic.eot') format('embedded-opentype'),
  url('./JetBrains/woff2/JetBrainsMono-ThinItalic.woff2') format('woff2'),
  url('./JetBrains/woff/JetBrainsMono-ThinItalic.woff') format('woff'),
  url('./JetBrains/ttf/JetBrainsMono-ThinItalic.ttf') format('truetype'),
  url('./JetBrains/svg/JetBrainsMono-ThinItalic.svg') format('svg');
  font-weight: 100;
  font-style: italic;
}
