@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-Thin.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-Thin.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-Thin.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-Thin.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-ThinItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-ThinItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-ThinItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-ThinItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-ThinItalic.svg') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-ExtraLight.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-ExtraLight.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-ExtraLight.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-ExtraLight.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-ExtraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-ExtraLightItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-ExtraLightItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-ExtraLightItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-ExtraLightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-Light.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-Light.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-Light.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-Light.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-LightItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-LightItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-LightItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-LightItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-LightItalic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-Regular.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-Regular.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-Regular.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-Regular.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-Italic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-Italic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-Italic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-Italic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-Medium.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-Medium.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-Medium.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-Medium.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-MediumItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-MediumItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-MediumItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-MediumItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-MediumItalic.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-SemiBold.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-SemiBold.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-SemiBold.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-SemiBold.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-SemiBoldItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-SemiBoldItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-SemiBoldItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-SemiBoldItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-Bold.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-Bold.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-Bold.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-Bold.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-BoldItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-BoldItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-BoldItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-BoldItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-BoldItalic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-ExtraBold.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-ExtraBold.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-ExtraBold.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-ExtraBold.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono/eot/MapleMono-NF-CN-ExtraBoldItalic.eot') format('embedded-opentype'),
    url('/fonts/MapleMono/woff2/MapleMono-NF-CN-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/MapleMono/woff/MapleMono-NF-CN-ExtraBoldItalic.woff') format('woff'),
    url('/fonts/MapleMono/ttf/MapleMono-NF-CN-ExtraBoldItalic.ttf') format('truetype'),
    url('/fonts/MapleMono/svg/MapleMono-NF-CN-ExtraBoldItalic.svg') format('svg');
  font-weight: 800;
  font-style: italic;
}
