@keyframes count-shark {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.4);
  }

  30%,
  70% {
    opacity: 1;
    transform: scale(1);
  }
}

/* x方向 */
@keyframes custom-x {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }

  10%,
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(var(--x, 300%));
  }
}

/* y方向 */
@keyframes custom-y {
  100% {
    transform: translateY(50vh) rotate(1turn);
  }
}

@keyframes floating-points {
  0% {
    transform: translateY(0);
  }

  85% {
    opacity: 0;
  }

  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes plane-move {
  0% {
    offset-rotate: 90deg;
    offset-distance: 0%;
  }

  18.7% {
    offset-rotate: 90deg;
    offset-distance: 18.7%;
  }

  25% {
    offset-rotate: 45deg;
    offset-distance: 25%;
  }

  31.2% {
    offset-rotate: 0deg;
    offset-distance: 31.2%;
  }

  68.7% {
    offset-rotate: 0deg;
    offset-distance: 68.7%;
  }

  75% {
    offset-rotate: 45deg;
    offset-distance: 75%;
  }

  81.2% {
    offset-rotate: 90deg;
    offset-distance: 81.2%;
  }

  100% {
    offset-rotate: 90deg;
    offset-distance: 100%;
  }
}

@keyframes move {
  0% {
    stroke-dashoffset: 8;
  }

  100% {
    stroke-dashoffset: -972;
  }
}

@keyframes rotating {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}
