@import './vitepress.ext.less';
@import './vitepress.print.less';
@import './vitepress.code.less';
@import './markdown.ext.less';
@import './mermaid.ext.less';
@import "./fonts/index.less";

/* 滚动条里面轨道，能向上向下移动 */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  display: none;
  background: #E2E6F1;
}

/* 滚动条里面的小方块，能向上向下移动 */
*:hover::-webkit-scrollbar-thumb {
  display: flex;
  background: #E2E6F1;
}

*:hover::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

html, body {
      background-color: transparent;
      margin: 0;
      height: 100%;
    }

    body {
      padding-top: env(safe-area-inset-top);
      padding-bottom: env(safe-area-inset-bottom);
    }

    body::before {
      content: '';
      position: fixed;
      top: -1000px;
      bottom: -1000px;
      left: 0;
      right: 0;
      background-color: transparent;
      z-index: -1;
    }
