/**
 * Colors
 * -------------------------------------------------------------------------- */

@app-font-family:
  MapleMono, 'JetBrains Maple Mono', JetBrainsMapleMono,
  PingFangSC,
  AlibabaPuHuiTi,
  JetBrainsMono,
  "HarmonyOS Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
@mermaid-font-family:
  'JetBrains Maple Mono', JetBrainsMapleMono,
  PingFangSC,
  AlibabaPuHuiTi,
  JetBrainsMono,
  "HarmonyOS Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
@code-family: 'JetBrains Maple Mono', JetBrainsMono, "SFMono-Regular", Consolas, "Liberation Mono",
  Menlo, Courier, monospace;
@main-color: #506bee;
@error-header-font-size: 32px;
@app-font-family2: 'JetBrains Maple Mono', JetBrainsMapleMono, PingFangSC, AlibabaPuHuiTi,
  JetBrainsMono, "HarmonyOS Sans", Georgia, Avenir, Helvetica, Arial, sans-serif;
@app-font-weight: 400;
@app-font-size-adjust: 0.5;
@app-font-size: 16px;
@admin-layout-header-height: 46px;
@dashboard-font-family: 'JetBrains Maple Mono', JetBrainsMapleMono, AlibabaPuHuiTi, JetBrainsMono;

:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --c-brand: #646cff;
  --c-brand-light: #747bff;
  --vp-nav-bg-color: rgba(240, 242, 245, 1);
  // --vp-sidebar-width: 200px;
  --mermaid-font-family: 'JetBrains Maple Mono', JetBrainsMapleMono, PingFangSC, AlibabaPuHuiTi,
    JetBrainsMono, "HarmonyOS Sans";
}

@primary-color: #1890ff;

/**
   * Component: Button
   * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
     * Component: Algolia
     * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
