@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Thin.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Thin.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Thin.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Light.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Light.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Light.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Regular.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Regular.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Regular.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Medium.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Medium.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Medium.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_SemiBold.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_SemiBold.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_SemiBold.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Bold.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Bold.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Bold.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_ExtraBold.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_ExtraBold.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_ExtraBold.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Heavy.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Heavy.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Heavy.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/fonts/Alibaba/eot/AlibabaPuHuiTi_Black.eot') format('embedded-opentype'),
    url('/fonts/Alibaba/woff2/AlibabaPuHuiTi_Black.woff2') format('woff2'),
    url('/fonts/Alibaba/woff/AlibabaPuHuiTi_Black.woff') format('woff'),
    url('/fonts/Alibaba/ttf/AlibabaPuHuiTi_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
}
