# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

# 触发条件，push到main分支或者pull request到main分支
on:
  push:
    branches: ['master']
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  # 支持手动在工作流上触发
  workflow_dispatch:

# 设置时区
env:
  TZ: Asia/Shanghai

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  # 允许读取仓库内容的权限。
  contents: read
  # 允许写入 GitHub Pages 的权限。
  pages: write
  # 允许写入 id-token 的权限。
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    # node v25 运行
    strategy:
      matrix:
        node-version: [25]

    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # 保留 Git 信息
          fetch-depth: 0

      # 设置使用 Node.js 版本
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          # node-version: ${{ matrix.node-version }}
          node-version-file: '.node-version' # 支持.nvmrc、.node-version、package.json等
          architecture: 'x64' # 系统架构
          check-latest: true # 是否检查最新版本
          cache: 'npm' # 包管理器缓存
          registry-url: https://registry.npmjs.org/ # 如果不配置将影响publish

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build docs
        run: |
          echo ${{ github.workspace }}
          npm run docs:build
        env:
          NODE_ENV: production
          # 添加以下环境变量
          VITE_SSR: false
          __VUE_PROD_DEVTOOLS__: false

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: .vitepress/dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
